/* Add this CSS to your stylesheet or component */
.profile-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-box {
  width: calc(33.33% - 20px); /* Three boxes per row with some spacing */
  margin-bottom: 20px;
  text-align: center;
}

.profile-image {
  width: 15rem; /* Make the images fill the entire box width */
  height: 15rem;
  object-fit: cover;
  border-radius: 10px; /* This rounds the edges e */
  border: 3px solid black;
}

.profile-name {
  font-size: 1.2rem;
  margin: 10px 0;
}

.profile-description {
  font-size: 1rem;
}
